//COLORS
$color-header_bg: rgba(16, 16, 29, 0.9);
$color-order: #272733;
$color-footer: #3D4050;
$color-blue_light: #3E9CDC;
$color-option_hover: #42A9ED;
$color-white: #fff;
$color-white_gray: rgba(255, 255, 255, 0.85);
$color-gray_border: #6F6D7B;
$color-gray: #2A2B30;
$color-select_focus: rgba(61, 64, 80, 0.85);